---
const {CTAhero, title, subheader, secondary, primary} = Astro.props;
import "./componments/button.astro";
import Button from "./componments/button.astro";
---
<section class="parent">
<section class="child">
    <div>
    <h4 class="redCTA">{CTAhero}</h4>
    </div>
    <h3>{title}</h3>
    <h4>{subheader}</h4>
    <div>
    <Button variant={secondary}
    variant={primary}
    ></Button>
    </div>
</section>
</section>
<style>

    .parent{
        width: auto;
        height: auto;
        background-color: rgb(24, 24, 25);
    }

    .child {
        margin-top: var(--Section-margin-top);
        margin-left: var(--Section-margin-left);
        margin-bottom: var(--Section-margin-bottom-small);
        padding: var(--Section-padding);
        background-color: rgba(28, 30, 35, 0.80);
        color: var(--secondary-typeface-color);
        width: var(--Section-width-small);
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .redCTA {
        color: var(--tertiary-typeface-color);
        font-weight: bold;
    }

  

    h4 {
        color: var(--lighter-gray-100)
    }

    .primary {
        background-color: var(--cerise-red-100);
        color: var(--secondary-typeface-color);
    }

    div {
        display: flex;
        flex-direction: row;
        gap: var(--Div-gap);
        padding-top: var(--Div-Padding-top);
        margin-inline: var(--Div-margin-inline-none);
    }
</style>