---
const {CTAhero, title, subheader, secondary, primary} = Astro.props;
import "./componments/button.astro";
import Button from "./componments/button.astro";
---
<section class="parent">
<section class="child">
    <div>
    <h4 class="redCTA">{CTAhero}</h4>
    </div>
    <h3>{title}</h3>
    <h4>{subheader}</h4>
    <div>
    <Button variant={secondary}
    variant={primary}
    ></Button>
    </div>
</section>
</section>
<style>

    .parent{
        width: auto;
        height: auto;
        background-color: rgb(24, 24, 25);
    }

    .child {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        background-color: rgba(28, 30, 35, 0.80);
        color: var(--secondary-typeface-color);
        width: 25rem;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .redCTA {
        color: var(--tertiary-typeface-color);
        font-weight: bold;
    }

  

    h4 {
        color: var(--lighter-gray-100)
    }

    .primary {
        background-color: var(--cerise-red-100);
        color: white;
    }

    div {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        padding-top: 1rem;
        margin-inline: 0rem;
    }
</style>